<div class="sm-container">
<h1 id="login-message">Welcome back</h1>
  <form method="post" action="/sessions">
    <label id="email-text" for="email_address">Email:</label>
    <input type="text" name="email" id="email_address">
    <label id="password-text" for="password">Password:</label>
    <input type="password" name="password" id="password">
    <input id="login-button" type="submit" value="Login">
  </form>
</div>